
@using CEJ_WebApp.Model
@using CEJ_WebApp.Components.Users
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IAuthService AuthService
@inject UserSessionInformation UserSessionInformation
@inject IDialogService DialogService
@inject IJSRuntime JS

<MudThemeProvider @ref="@_mudThemeProvider" IsDarkMode="@_isDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />
<AuthorizeView>
	<Authorized>

		<MudLayout>
			<MudAppBar Elevation="0">
				<MudToggleIconButton @bind-Toggled="@_isNavOpen"
									 Edge="Edge.Start"
									 Icon="@Icons.Material.Filled.Menu"
									 Title="Mostrar menu"
									 Color="Color.Surface"
									 ToggledIcon="@Icons.Material.Filled.MenuOpen"
									 ToggledTitle="Esconder menu"
									 ToggledColor="Color.Surface">
				</MudToggleIconButton>

				<MudSpacer />

				<MudSpacer />

				<MudBadge Content="@upcomingCount"
						  Overlap="true"
						  Class="mx-6 my-4"
						  Color="Color.Error"
						  Visible="@(upcomingCount > 0)">
    
					<MudIcon Icon="@Icons.Material.Filled.CalendarMonth"
							 Style="cursor:pointer"
							 @onclick="OpenGoogleCalendar" />
             
				</MudBadge>

				<MudToggleIconButton @bind-Toggled="_isDarkMode"
									 Edge="Edge.Start"
									 Icon="@Icons.Material.Filled.DarkMode"
									 ToggledIcon="@Icons.Material.Filled.LightMode"
									 Title="Modo escuro"
									 ToggledTitle="Modo claro"
									 Color="@(_isDarkMode ? Color.Warning : Color.Surface)"
									 ToggledColor="@(_isDarkMode ? Color.Warning : Color.Surface)" />

				<!-- MENU DO USUÁRIO -->
				<MudMenu AnchorOrigin="Origin.BottomCenter"
						 TransformOrigin="Origin.TopCenter"
						 Size="Size.Small"
						 Class="pa-0 mud-width-auto"
						 FullWidth="false">
                    
					<ActivatorContent>
						<MudButton Variant="Variant.Text"
								   StartIcon="@Icons.Material.Filled.AccountCircle"
								   Color="Color.Inherit"
								   Class="mud-button-user-menu"
								   EndIcon="@Icons.Material.Filled.ArrowDropDown"
								   Style="text-transform: none;">
							<div class="d-flex flex-column align-start mud-width-auto">
								<small class="mud-typography mud-typography-caption">@UserSessionInformation.Username</small>
							</div>
						</MudButton>
					</ActivatorContent>
                    
					<ChildContent>
						<MudMenuItem OnClick="@OpenDialogAsync">
							<div class="d-flex align-center" style="white-space: nowrap;">
								<MudIcon Icon="@Icons.Material.Filled.Lock" Class="mr-2" Size="Size.Small" />
								<span style="font-size: 0.875rem;">Trocar senha</span>
							</div>
						</MudMenuItem>
						<MudDivider />
						<MudMenuItem OnClick="@Logout">
							<div class="d-flex align-center">
								<MudIcon Icon="@Icons.Material.Filled.ExitToApp" Class="mr-2" Size="Size.Small" Color="Color.Error" />
								<MudText Color="Color.Error">Sair</MudText>
								</div>
						</MudMenuItem>
													
					</ChildContent>
				</MudMenu>
			</MudAppBar>

			<MudDrawer @bind-Open="_isNavOpen" Elevation="1">
				<MudDrawerHeader>
					<MudText Typo="Typo.h6">CEJ</MudText>
				</MudDrawerHeader>
				<NavMenu />
			</MudDrawer>

			<MudMainContent>
				<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="my-4 pt-4">
					@Body
				</MudContainer>
			</MudMainContent>

		</MudLayout>

	</Authorized>
	<NotAuthorized>
		@{
			NavigationManager.NavigateTo("login");
		}
	</NotAuthorized>
</AuthorizeView>


@code {
	bool _isNavOpen = true;
	bool _isDarkMode = true;

	MudThemeProvider? _mudThemeProvider;

	private int upcomingCount;

	private async Task OpenGoogleCalendar()
	{
		await JS.InvokeVoidAsync("open",
			"https://calendar.google.com",
			"_blank",
			"width=900,height=700");
	}

	public class Appointment
	{
		public DateTime Start { get; set; }
		public string Title { get; set; }
	}


	private async Task OpenDialogAsync()
	{
		var parameters = new DialogParameters();
		var options = new DialogOptions { CloseButton = true, CloseOnEscapeKey = true };
        
		var dialog = await DialogService.ShowAsync<ResetUserPassword>("Redefinir Senha", parameters);
        
		var result = await dialog.Result;
		if (!result.Cancelled)
		{
			// Sucesso!
		}
	}

	
	private string GetUserButtonClass()
	{
		return _isDarkMode ? "btn-dark-mode" : "btn-light-mode";
	}

	private string GetUserButtonStyle()
	{
		if (_isDarkMode)
		{
			return "background-color: #333; color: white; border-color: #444;";
		}
		else
		{
			return "background-color: #f8f9fa; color: #333; border-color: #ddd;";
			//return "mud-theme-primary;";
		}
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			_isDarkMode = true;
			_isDarkMode = await _mudThemeProvider!.GetSystemPreference();
			StateHasChanged();
		}
	}

	public async Task Logout()
	{
		AuthService.Logout();
		NavigationManager.NavigateTo("/login");

	}
}
