@page "/users"
@page "/users/Index"
@using CEJ_WebApp.Model
@using CEJ_WebApp.Model.Dto
@using CEJ_WebApp.Model.Enum
@inject IUserService _userService
@inject IJSRuntime JS


<Modal @ref="modalInsert" title="Inserir usuário"
       UseStaticBackdrop="true"
       CloseOnEscape="false"
       IsVerticallyCentered="true"
       Size="ModalSize.Large">
    <BodyTemplate>
        <EditForm Model="@user" OnValidSubmit="@OnIncludeUser">
            <DataAnnotationsValidator />

            <div class="row">
                <!-- Coluna Nome -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nome</label>
                        <InputText id="txtUserName" class="form-control" @bind-Value=@user.Name />
                        <ValidationMessage For="@(() => user.Name)" />
                    </div>
                </div>

                <!-- Coluna Perfil -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Perfil</label>
                        <InputSelect class="form-select" @bind-Value="user.Role">
                            <option value="">Selecione</option>
                            <option value="@UserRoleType.Operador">Operador</option>
                            <option value="@UserRoleType.Gerente">Gerente</option>
                            <option value="@UserRoleType.Administrador">Administrador</option>
                        </InputSelect>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Coluna Email -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email</label>
                        <InputText id="txtUserEmail" class="form-control" @bind-Value=@user!.Email />
                        <ValidationMessage For="@(() => user.Email)" />
                    </div>
                </div>

                <!-- Coluna Password -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Senha</label>
                        <PasswordInput id="txtUserPassword" class="form-control" @bind-Value=@user!.Password />
                        <ValidationMessage For="@(() => user.Password)" />
                    </div>
                </div>
            </div>

            <div class="card">
                <h4 class="card-header">Endereço</h4>
                <div class="card-body">

                    <!-- Coluna CEP -->
                    <div class="row">
                        <div class="input-group">
                            <RadzenMask style="max-width: 180px;"
                                        Mask="*****-***"
                                        CharacterPattern="[0-9]"
                                        Placeholder="00000-000"
                                        @bind-Value="@user.Address.ZipCode"
                                        class="form-control" />

                            <button class="btn btn-primary" @onclick="OnFindCepClick">
                                🔍 Pesquisar
                            </button>
                        </div>

                    </div>
                    <div class="row">
                        <!-- Coluna Logradouro -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Logradouro</label>
                                <InputText id="txtUserStreet" class="form-control" @bind-Value=@user!.Address!.Street />
                                <ValidationMessage For="@(() => user!.Address!.Street)" />
                            </div>
                        </div>
                        <!-- Coluna Numero -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Numero</label>
                                <InputText id="txtUserNumber" type="number"
                                           inputmode="numeric"
                                           pattern="[0-9]*" class="form-control" @bind-Value=@user!.Address!.Number />
                                <ValidationMessage For="@(() => user!.Address!.Number)" />
                            </div>
                        </div>
                        <!-- Coluna Complemento -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Complemento</label>
                                <InputText id="txtUserComplement" class="form-control" @bind-Value=@user!.Address!.Complement />
                                <ValidationMessage For="@(() => user!.Address!.Complement)" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Coluna Bairro -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Bairro</label>
                                <InputText id="txtUserNeighborhood" class="form-control" @bind-Value=@user!.Address!.Neighborhood />
                                <ValidationMessage For="@(() => user!.Address!.Neighborhood)" />
                            </div>
                        </div>
                        <!-- Coluna Cidade -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Cidade</label>
                                <InputText id="txtUserCity" class="form-control" @bind-Value=@user!.Address!.City />
                                <ValidationMessage For="@(() => user!.Address!.City)" />
                            </div>
                        </div>
                        <!-- Coluna Estado -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Estado</label>
                                <InputText id="txtUserState" class="form-control" @bind-Value=@user!.Address!.State />
                                <ValidationMessage For="@(() => user!.Address!.State)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </EditForm>

    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalInsertClick">Fechar</Button>
        <Button Color="ButtonColor.Primary"
                @onclick="OnIncludeUser">
            <Icon Name="IconName.Save"></Icon>
            Salvar
        </Button>

    </FooterTemplate>
</Modal>

@* Cabeçalho da página *@
@* <div>
    <MudStack Row="true"
              Justify="Justify.SpaceBetween"
              AlignItems="MudBlazor.AlignItems.Center"
              Class="mb-3">

        <MudText Typo="Typo.h4">Usuários</MudText>

        <MudFab Color="Color.Tertiary"
                StartIcon="@Icons.Material.Filled.Add"
                Label="Usuário"
                OnClick="OnShowModalInsertClick" />

    </MudStack>
</div> *@ 

<div class="card">
    <div class="card-header">

        <MudStack Row="true"
                  Justify="Justify.SpaceBetween"
                  AlignItems="MudBlazor.AlignItems.Center"
                  Class="mb-3">

            <h4>Usuário</h4>

            <MudFab Color="Color.Tertiary"
                    StartIcon="@Icons.Material.Filled.Add"
                    Label="Usuário"
                    OnClick="OnShowModalInsertClick" />

        </MudStack>

        

    </div>
    <div class="card-body">

        <Grid @ref="gridUser"
              TItem="UserDto"
              AllowFiltering="true"
              AllowPaging="true"
              AllowSorting="true"
              Class="table table-hover table-bordered table-striped"
              PageSize="5"
              DataProvider="UserDtoDataProvider"
              Responsive="true">

            <GridColumn TItem="UserDto" HeaderText="Nome" PropertyName="Name" SortKeySelector="item => item.Name">
                @context.Name
            </GridColumn>
            <GridColumn TItem="UserDto" HeaderText="Email" PropertyName="Email" SortKeySelector="item => item.Email">
                @context.Email
            </GridColumn>
            <GridColumn TItem="UserDto" HeaderText="Perfil" PropertyName="Role" SortKeySelector="item => item.Role">
                @context.Role
            </GridColumn>
            <GridColumn TItem="UserDto" HeaderText="Ações" Width="120" Filterable="false" HeaderTextAlignment="Alignment.Center">
                <div class="d-flex justify-content-center gap-1 p-1">
                    @* 					<MudFab Color="Color.Primary"
							Size="Size.Small"
							ButtonType="MudBlazor.ButtonType.Button"
							Icon="@Icons.Material.Filled.Edit"/>
					<MudFab Color="Color.Error"
							Size="Size.Small"
							ButtonType="MudBlazor.ButtonType.Button"
							Icon="@Icons.Material.Filled.Delete"/> *@
                    <Button @ref="editUserButton" Color="ButtonColor.Primary" Size="BlazorBootstrap.ButtonSize.Small" TooltipTitle="Editar">
                        <Icon Name="IconName.PencilFill"></Icon>
                    </Button>
                    <Button @ref="editUserButton" Color="ButtonColor.Danger" Size="BlazorBootstrap.ButtonSize.Small" TooltipTitle="Deletar">
                        <Icon Name="IconName.Trash"></Icon>
                    </Button>
                </div>
            </GridColumn>

        </Grid>


        @*         <RadzenDataGrid @ref="gridUser"
                        AllowRowSelectOnRowClick="@allowRowSelectOnRowClick"
                        AllowFiltering="true"
                        FilterPopupRenderMode="Radzen.PopupRenderMode.OnDemand"
                        FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive"
                        AllowPaging="true"
                        PageSize="5"
                        AllowSorting="true"
                        Data="@usersDto"
                        TItem="UserDto"
                        ColumnWidth="200px">
            <Columns>
                <RadzenDataGridColumn TItem="UserDto" Property="Name" Title="Nome" Width="180px" />
                <RadzenDataGridColumn TItem="UserDto" Property="Email" Title="Email" TextAlign="TextAlign.Center" Width="80px" />
                <RadzenDataGridColumn TItem="UserDto" Property="Role" Title="Perfil" TextAlign="TextAlign.Center" Width="80px" />
            </Columns>
        </RadzenDataGrid> *@
    </div>

</div>

<br />

@code {

    //RadzenDataGrid<UserDto> gridUser;
    private BlazorBootstrap.Button editUserButton = default!;
    private BlazorBootstrap.Button findCepUserButton = default!;
    bool busy = false;

    UserEntity user = new UserEntity();
    List<UserDto> usersDto = new List<UserDto>();

    bool allowRowSelectOnRowClick = true;

    private Modal modalInsert = default!;
    private Modal modalUpdate = default!;
    private Grid<UserDto> gridUser = default!;

    List<ToastMessage> messages = new List<ToastMessage>();

    protected override async Task OnInitializedAsync()
    {
        await LoadManufactures();
    }

    async Task LoadManufactures()
    {
        usersDto = await GetUsersDtoAsync();
    }
    private async Task OnFindCepClick()
    {
        if (!string.IsNullOrEmpty(user?.Address?.ZipCode))
        { }
    }
    private async Task<GridDataProviderResult<UserDto>> UserDtoDataProvider(GridDataProviderRequest<UserDto> request)
    {
        var usersDto = await GetUsersDtoAsync();

        return await Task.FromResult(request.ApplyTo(usersDto));
    }

    private async Task<List<UserDto>> GetUsersDtoAsync()
    {
        var usersEntity = await _userService.GetUserAllAsync();

        return usersEntity.Select(x => new UserDto()
        {
            Uuid = x.Uuid,
            Name = x.Name,
            Email = x.Email,
            Active = x.Active,
            Role = x.Role.ToString(),
        }).ToList();
    }

    private async Task OnShowModalInsertClick()
    {
        user = new UserEntity()
        {
            Address = new AddressEntity()
        };

        await modalInsert.ShowAsync();
    }



    private async Task OnIncludeUser()
    {
        if (!string.IsNullOrEmpty(user.Name))
        {
            busy = true;
            //var include = await _userService.ObjectAdd(category);
            //var include = "null";

            try
            {

                var include = await _userService.AddAsync(user);

                if (include)
                {
                    busy = false;
                    ShowMessage(ToastType.Success, "Gravado com sucesso.");

                    await GetUsersDtoAsync();
                }
                else
                {
                    busy = false;
                    ShowMessage(ToastType.Danger, "Error ao gravar.");
                }



                user = new UserEntity();

                await gridUser.RefreshDataAsync();
            }
            catch (Exception ex)
            {
                
                throw;
            }


        }

        OnHideModalInsertClick();
    }

    private async Task OnHideModalInsertClick()
    {
        await modalInsert.HideAsync();
    }

    private async Task OnShowModalEditClick()
    {
        await modalUpdate.ShowAsync();
    }

    private async Task OnHideModalEditClick()
    {
        await modalUpdate.HideAsync();
    }

    private void ShowMessage(ToastType toastType, string message) => messages.Add(CreateToastMessage(toastType, message));

    private ToastMessage CreateToastMessage(ToastType toastType, string message)
    => new ToastMessage
    {
        Type = toastType,
        Title = "Speortle Quiz",
        HelpText = $"{DateTime.Now}",
        Message = $"{message}. DateTime: {DateTime.Now}",
    };
}