@page "/users"
@page "/users/Index"
@using CEJ_WebApp.Model
@using CEJ_WebApp.Model.Dto
@using CEJ_WebApp.Model.Enum
@inject IUserService _userService
@inject IExternalService _externalService
@inject IJSRuntime JS
@inject NotificationService NotificationService


<Modal @ref="modalScreen" title=@modalTitle
	   UseStaticBackdrop="true"
	   CloseOnEscape="false"
	   IsVerticallyCentered="true"
	   Size="ModalSize.Large">
	<BodyTemplate>
		@* <EditForm Model="@user" OnValidSubmit="@OnIncludeUser"> *@
		<EditForm Model="@user">
			<DataAnnotationsValidator />

			<div class="row">
				<!-- Coluna Nome -->
				<div class="col-md-6">
					<div class="form-group">
						<label>Nome</label>
						<InputText id="txtUserName" class="form-control" @bind-Value=@user.Name />
						<ValidationMessage For="@(() => user.Name)" />
					</div>
				</div>

				<!-- Coluna Perfil -->
				<div class="col-md-6">
					<div class="form-group">
						<label>Perfil</label>
						<InputSelect class="form-select" @bind-Value="user.Role">
							@foreach (var role in Enum.GetValues<UserRoleType>())
							{
								<option value="@role">@role</option>
							}
						</InputSelect>
					</div>
				</div>
			</div>

			<div class="row">
				<!-- Coluna Email -->
				<div class="col-md-6">
					<div class="form-group">
						<label>Email</label>
						<InputText id="txtUserEmail" class="form-control" @bind-Value=@user!.Email />
						<ValidationMessage For="@(() => user.Email)" />
					</div>
				</div>

				<!-- Coluna Password -->
				<div class="col-md-6">
					<div class="form-group">
						<label>Senha</label>
						<PasswordInput id="txtUserPassword" class="form-control" @bind-Value=@user!.Password />
						<ValidationMessage For="@(() => user.Password)" />
					</div>
				</div>
			</div>

			<div class="card">
				<h4 class="card-header">Endereço</h4>
				<div class="card-body">

					<!-- Coluna CEP -->
					<div class="row">
						<div class="input-group">
							<RadzenMask @ref="zipMask"
										style="max-width: 180px;"
										Mask="*****-***"
										CharacterPattern="[0-9]"
										Placeholder="00000-000"
										@bind-Value="@user.Address.ZipCode"
										class="form-control" />

							<button class="btn btn-primary" @onclick="OnFindCepClick">
								🔍 Pesquisar
							</button>
						</div>
					</div>
					<div class="row">
						<!-- Coluna Logradouro -->
						<div class="col-md-6">
							<div class="form-group">
								<label>Logradouro</label>
								<InputText id="txtUserStreet" class="form-control" @bind-Value=@user!.Address!.Street />
								<ValidationMessage For="@(() => user!.Address!.Street)" />
							</div>
						</div>
						<!-- Coluna Numero -->
						<div class="col-md-3">
							<div class="form-group">
								<label>Numero</label>
								<InputText id="txtUserNumber" type="number"
										   inputmode="numeric"
										   pattern="[0-9]*" class="form-control" @bind-Value=@user!.Address!.Number />
								<ValidationMessage For="@(() => user!.Address!.Number)" />
							</div>
						</div>
						<!-- Coluna Complemento -->
						<div class="col-md-3">
							<div class="form-group">
								<label>Complemento</label>
								<InputText id="txtUserComplement" class="form-control" @bind-Value=@user!.Address!.Complement />
								<ValidationMessage For="@(() => user!.Address!.Complement)" />
							</div>
						</div>
					</div>
					<div class="row">
						<!-- Coluna Bairro -->
						<div class="col-md-5">
							<div class="form-group">
								<label>Bairro</label>
								<InputText id="txtUserNeighborhood" class="form-control" @bind-Value=@user!.Address!.Neighborhood />
								<ValidationMessage For="@(() => user!.Address!.Neighborhood)" />
							</div>
						</div>
						<!-- Coluna Cidade -->
						<div class="col-md-5">
							<div class="form-group">
								<label>Cidade</label>
								<InputText id="txtUserCity" class="form-control" @bind-Value=@user!.Address!.City />
								<ValidationMessage For="@(() => user!.Address!.City)" />
							</div>
						</div>
						<!-- Coluna Estado -->
						<div class="col-md-2">
							<div class="form-group">
								<label>Estado</label>
								<InputSelect class="form-select" @bind-Value="user!.Address!.State">
									@foreach (var uf in Enum.GetValues<UfType>())
									{
										<option value="@uf">@uf.ToString()</option>
									}
								</InputSelect>
							</div>
						</div>
					</div>
				</div>
			</div>


		</EditForm>

	</BodyTemplate>
	<FooterTemplate>
		<Button Color="ButtonColor.Secondary" @onclick="OnHideModalInsertClick">
			<Icon Name="IconName.DoorClosed" /> Fechar
		</Button>
		<Button Color="ButtonColor.Primary" @onclick="OnPersisteModalUser">
			<Icon Name="IconName.Save" /> Salvar
		</Button>

	</FooterTemplate>
</Modal>

<div class="card">
	<div class="card-header">

		<MudStack Row="true"
				  Justify="Justify.SpaceBetween"
				  AlignItems="MudBlazor.AlignItems.Center"
				  Class="mb-3">

			<h4>Usuário</h4>

			<MudFab Color="Color.Tertiary"
					StartIcon="@Icons.Material.Filled.Add"
					Label="Usuário"
					OnClick="OnShowModalInsertClick" />

		</MudStack>



	</div>
	<div class="card-body">

		<Grid @ref="gridUser"
			  TItem="UserDto"
			  AllowFiltering="true"
			  AllowPaging="true"
			  AllowSorting="true"
			  Class="table table-hover table-bordered table-striped"
			  PageSize="5"
			  DataProvider="UserDtoDataProvider"
			  Responsive="true">

			<GridColumn TItem="UserDto" HeaderText="Nome" PropertyName="Name" SortKeySelector="item => item.Name">
				@context.Name
			</GridColumn>
			<GridColumn TItem="UserDto" HeaderText="Email" PropertyName="Email" SortKeySelector="item => item.Email">
				@context.Email
			</GridColumn>
			<GridColumn TItem="UserDto" HeaderText="Perfil" PropertyName="Role" SortKeySelector="item => item.Role">
				@context.Role
			</GridColumn>
			<GridColumn TItem="UserDto" HeaderText="Ações" Width="120" Filterable="false" HeaderTextAlignment="Alignment.Center">
				<div class="d-flex justify-content-center gap-1 p-1">

					@if (context.Active)
					{
						<Button @ref="editUserButton"
								Color="ButtonColor.Primary"
								Size="BlazorBootstrap.ButtonSize.Small"
								TooltipTitle="Editar"
								@onclick="@(async () => await OnShowModalEditClick(context))">
							<Icon Name="IconName.PencilFill"></Icon>
						</Button>

						@if (context.Role != UserRoleType.Operador.ToString())
						{
							<Button @ref="editUserButton" Color="ButtonColor.Danger" Size="BlazorBootstrap.ButtonSize.Small" TooltipTitle="Apagar">
								<Icon Name="IconName.Trash"></Icon>
							</Button>
						}

					}
					else
					{
						@if (context.Role != UserRoleType.Operador.ToString())
						{
							<Button Color="ButtonColor.Secondary"
									Size="BlazorBootstrap.ButtonSize.Small"
									TooltipTitle="Reativar">
								<Icon Name="IconName.ArrowRepeat"></Icon>
							</Button>
						}
					}
					)
				</div>
			</GridColumn>

		</Grid>

		@* 		<RadzenDataGrid @ref="gridUser"
						AllowRowSelectOnRowClick="@allowRowSelectOnRowClick"
						AllowFiltering="true"
						FilterPopupRenderMode="PopupRenderMode.OnDemand"
						FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
						AllowPaging="true"
						PageSize="5"
						AllowSorting="true"
						Data="@usersDto"
						TItem="UserDto"
						ColumnWidth="200px">
			<Columns>
				<RadzenDataGridColumn TItem="UserDto" Property="Name" Title="Nome" />
				<RadzenDataGridColumn TItem="UserDto" Property="Email" Title="Email" />
				<RadzenDataGridColumn TItem="UserDto" Property="Role" Title="Perfil" />
			</Columns>
		</RadzenDataGrid> *@

	</div>

</div>

<br />

@code {

	[Inject]
	public ISnackbar SnackbarService { get; set; } = null!;

	//RadzenDataGrid<UserDto> gridUser;
	private BlazorBootstrap.Button editUserButton = default!;
	private BlazorBootstrap.Button findCepUserButton = default!;

	private RadzenMask zipMask = default!;
	//RadzenDataGrid<UserDto> gridUser;


	UserEntity user = new UserEntity();
	List<UserDto> usersDto = new List<UserDto>();

	bool allowRowSelectOnRowClick = true;

	private Modal modalScreen = default!;
	//private Modal modalUpdate = default!;
	private Grid<UserDto> gridUser = default!;

	bool insertMode = false;
	string modalTitle = string.Empty;

	List<ToastMessage> messages = new List<ToastMessage>();

	protected override async Task OnInitializedAsync()
	{
		await LoadManufactures();
	}

	async Task LoadManufactures()
	{
		usersDto = await GetUsersDtoAsync();
	}

	private async Task OnFindCepClick()
	{
		if (!string.IsNullOrEmpty(user?.Address?.ZipCode))
		{
			var address = await _externalService.GetAddressCep(user.Address.ZipCode);

			user.Address.City = address.Localidade;

			user.Address.Neighborhood = address.Bairro;
			user.Address.Complement = address.Complemento;
			user.Address.State = address.Uf; //Enum.Parse<UfType>(address.Uf).ToString();
			user.Address.Street = address.Logradouro;
			user.Address.ZipCode = address.Cep;
		}
		else
		{
			ExibirMensagem("Cep invalido.", Severity.Error);
			await zipMask.FocusAsync();
		}
	}
	private async Task<GridDataProviderResult<UserDto>> UserDtoDataProvider(GridDataProviderRequest<UserDto> request)
	{
		var usersDto = await GetUsersDtoAsync();

		return await Task.FromResult(request.ApplyTo(usersDto));
	}

	private async Task<List<UserDto>> GetUsersDtoAsync()
	{
		var usersEntity = await _userService.GetUserAllAsync();

		return usersEntity.Select(x => new UserDto()
		{
			Uuid = x.Uuid,
			Name = x.Name,
			Email = x.Email,

			Active = x.Active,
			Role = x.Role.ToString(),
		}).ToList();
	}

	private async Task OnShowModalInsertClick()
	{
		user = new UserEntity()
		{
			Name = string.Empty,
			Password = string.Empty,
			Address = new AddressEntity()
		};

		insertMode = true;
		modalTitle = "Adicionar usuário";

		await modalScreen.ShowAsync();
	}

	private async Task OnPersisteModalUser()
	{
		if (insertMode)
			await OnIncludeUser();
		else
			await OnUpdateUser();

		insertMode = false;
		modalTitle = string.Empty;

		OnHideModalInsertClick();
	}

	private async Task OnUpdateUser()
	{
		if (!string.IsNullOrEmpty(user.Name))
		{

			try
			{

				var include = await _userService.EditAsync(user);

				if (include)
				{
					ExibirMensagem("Gravado com sucesso.", Severity.Success);

					await GetUsersDtoAsync();
				}
				else
				{
					ExibirMensagem("Error ao gravar.", Severity.Error);
				}

				user = new UserEntity();

				await gridUser.RefreshDataAsync();
			}
			catch (Exception ex)
			{

				throw;
			}


		}
	}

	private async Task OnIncludeUser()
	{
		if (!string.IsNullOrEmpty(user.Name))
		{

			try
			{

				var include = await _userService.AddAsync(user);

				Console.WriteLine(include);

				if (include)
				{
					ExibirMensagem("Gravado com sucesso.", Severity.Success);

					await GetUsersDtoAsync();
				}
				else
				{
					ExibirMensagem("Error ao gravar.", Severity.Error);
				}

				user = new UserEntity();

				await gridUser.RefreshDataAsync();
			}
			catch (Exception ex)
			{

				throw;
			}


		}
	}

	private async Task OnHideModalInsertClick()
	{
		await modalScreen.HideAsync();
	}

	private async Task OnShowModalEditClick(UserDto data)
	{
		insertMode = false;
		modalTitle = "Alterar usuário";

		var responseUser = await _userService.GetUserByUuidAsync(data.Uuid);

		if (responseUser == null || string.IsNullOrEmpty(responseUser.Name))
			ExibirMensagem("Error ao recuperar usuário.", Severity.Error);

		user = responseUser;

		//await modalUpdate.ShowAsync();
		await modalScreen.ShowAsync();
	}

	private async Task OnHideModalEditClick()
	{
		await modalScreen.HideAsync();
	}



	private void ExibirMensagem(string mensagem, Severity serverity = Severity.Error)
	{
		var config = (SnackbarOptions options) =>
		{
			options.DuplicatesBehavior = SnackbarDuplicatesBehavior.Prevent;
		};

		SnackbarService.Add(mensagem, serverity, configure: config, key: "User");
	}

}